@media (max-width: 800px){
  .header__container{
    width: 768px;
    height: 96px;
  }
  
  .header-logo__img{
    width: 107.82px;
    height: 28.56px;
  }
  
  .header__btn{
    position: relative;
    left: 94px;
  }
  
  .hero__container{
    width: 768px;
    height: 650px;
    padding-top: 100px;
    background-image: url(../img/responsive-home-bg-img.svg);
    background-repeat: no-repeat;
  }
  
  .header__title{
    position: relative;
    top: -20px;
    left: -90px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -2.5px;
    color: var(--site-color2);
  }
  
  .header__text{
    position: relative;
    top: -25px;
    left: -100px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var(--site-color2);
  }
  
  .header-hero__btn{
    position: relative;
    top: -18px;
    left: 280px;
  }
  
  
}


@media (max-width: 400px){
  :root{
    --site-color: #FCB72B;
    --site-color2: #fff;
    --site-color3: #495567;
  }

  .site__btn{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var(--site-color2);
    background: var(--site-color);
    border: 1px solid var(--site-color);
  }
  
  .header__container{
    width: 375px;
    height: 64px;
  }
  
  .header__menu, .header__btn{
    display: none;
  }
  
  .header-logo__img{
    position: relative;
    left: 130px;
    width: 75.5px;
    height: 20px;
  }
  
  .hero__container{
    width: 375px;
    height: 650px;  
    background-image: url(../img/mobile-hero-img.png);
    background-repeat: no-repeat;
  }
  
  .header__title{
    position: relative;
    top: -35px;
    left: -165px;
    width: 500px;
    height: 120px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -1.78571px;
  }
  
  .header__text{
    position: relative;
    top: -46px;
    left: -228px;
    width: 550px;
    height: 125px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var(--site-color2);
  }
  
  .header-hero__btn{
    position: relative;
    top: -6px;
    left: 75px;
    padding: 14px 39px 14px 39px;
  }
  
  .opportunity-container{
    position: relative;
    top: 80px;
    width: 311px;
    height: 792px;
  }
  
  .opportunity__img{
    display: none;
  }
  
  
  .opportunity__menu{
    flex-direction: column;
  }
  
  .opportunity__lists{
    position: relative;
    left: -150px;
  }
  
  .circle-img{
    position: relative;
    top: 48px;
    left: 130px;
    display: block;
  }
  
  .opportunity__title{
    width: 311px;
    height: 28px;
    margin-top: 24px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.892857px;
    color: var(--site-color3);
  }
  
  .opportunity__text{
    width: 311px;
    height: 100px;
    padding-top: 24px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #939CAA;
  }

  .rounds__container{
    position: relative;
    top: 112px;
    left: -168px;
    width: 400px;
    height: 2334px;
  }

  .rounds__images{
    display: none;
  }

  .circle-mob-img{
    margin-left: 35px;
    display: block;
  }

  .circle-mob-img2{
    margin-left: -16px;
    display: block;
  }
  
  .circle-mob-img3{
    display: block;
    margin-left: 38px;
  }

  .rounds__items:nth-child(2){
    flex-direction: row;
  }

  .rounds__title{
    padding-top: 56px;
    text-align: center;
    width: 350px;
    height: 64px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1.42857px;
    color: var(--site-color3);
  }
  
  .rounds__text{
    padding-top: 84px;
    padding-left: 55px;
    text-align: center;
    width: 311px;
    height: 150px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #939CAA;
  }
  
  .rounds__btn{
    position: relative;
    top: 140px;
    left: 85px;
    padding:  14px 44.5px 14px 43.5px;
  }

  /* Site-main-end */
  /* Site-footer-started */

  .sign-up__section{
    position: relative;
    top: 270px;
    width: 375px;
    height: 758px;
    margin: 0 auto;
    padding: 0 20px;
    background-image: url(../img/footer-mob-bg-img.png);
    background-repeat: no-repeat;
  }
  
  .sign-up__container{
    display: block;
  }
  
  .sign-up__title{
    position: relative;
    top: -17px;
    left: -138px;
    width:  311px;
    height: 64px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1.42857px;
    color: #FFFFFF;
  }
  
  .sign-up__element{
    position: relative;
    left: -430px;
    display: flex;
  }
  
  .sign-up__img{
    margin-left: 18px;
  }
  
  .sign-up__img{
    display: none;
  }
  
  .sign-up-mob__img{
    display: block;
    margin-left: 12px;
  }

  .footer-menu__conatiner{
    position: relative;
    top: -101px;
    left: -31px;
    display: block;
  }
  
  .footer__logo{
    width: 107.82px;
    height: 28.56px;
  }
  
  .footer__menu{
    position: relative;
    top: 31.44px;
    left: -95px;
    text-align: center;
    display: block;
  }
  
  .footer-menu__item{
    padding-top: 16px;
  }
  
  .footer-menu__link{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
  }
  
  .footer__lists{
    position: relative;
    top: 112.25px;
    left: -550px;
  }

  /* Site-footer-end */
  
}



